<div class="w3-row-padding">
    <div class="w3-col l12 m12">
        <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
                <h6 class="w3-opacity">Create new location</h6>
                <p>
                    <label>City</label>
                    <input id="txtCity" class="w3-input w3-border w3-padding" type="text" placeholder="Select City">
                </p>
                <p>
                    <label>Location Type</label>
                    <select id="ddlLocationType" class="w3-input w3-border w3-padding">
                        <option value="1" code="1">School</option>
                        <option value="2" code="1">Higher School</option>
                        <option value="3" code="2">College</option>
                        <option value="4" code="2">Post-Graduation</option>
                        <option value="5" code="3">Job</option>
                        <option value="6" code="4">Tuition Classes</option>
                        <option value="7" code="4">Coaching Classes</option>
                        <option value="8" code="4">Computer Classes</option>
                    </select>
                </p>
                <p>
                    <label>Standards (Comma Separated)</label>
                    <input id="txtStandard" class="w3-input w3-border w3-padding" type="text" placeholder="Select Standards (Comma Separated)">
                </p>
                <p>
                    <label>Location</label>
                    <input id="txtLocation" class="w3-input w3-border w3-padding" type="text" placeholder="Select Location">
                </p>
                <p>
                    <label>Education Board</label>
                    <input id="txtEducationBoard" class="w3-input w3-border w3-padding" type="text" placeholder="Select Education Board">
                </p>
                <p>
                    <label>Semester/Year (Comma Separated)</label>
                    <input id="txtEducationBoard" class="w3-input w3-border w3-padding" type="text" placeholder="Select Semester/Year (Comma Separated)">
                </p>
                <p>
                    <label>Course / Faculty</label>
                    <input id="txtCourseFaculty" class="w3-input w3-border w3-padding" type="text" placeholder="Select Course / Faculty">
                </p>
                <p>
                    <label>College</label>
                    <input id="txtCollege" class="w3-input w3-border w3-padding" type="text" placeholder="Select College">
                </p>
                
                University
                3> Department
                Company
                4> Batch (Comma Separated)
                Subject
                Classes Name
                Professor Name

                <p>
                    <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button>
                </p>
            </div>
        </div>
    </div>
</div>