@model IEnumerable<BM4.Models.FriendConnection>

@{
    ViewBag.Title = "Pending Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("View Friends", "Index")
</p>
<ul class="listview image-listview">
    @foreach (var item in Model)
    {
        <li>
            <a href="/UserProfile/Public?Id=@item.User2.UserId" class="item">
                <img src="@Html.DisplayFor(modelItem => item.User2.ProfilePic)" alt="image" class="image" />
                <div class="in">
                    <div>
                        <header></header>
                        @Html.DisplayFor(modelItem => item.User2.Title)
                        <footer> </footer>
                        <footer>Requested on @Html.DisplayFor(modelItem => item.ConnectedDate)</footer>
                    </div>
                    <span class="text-muted"></span>
                </div>
            </a><br />
            <a href="/Friends/UpdateRequest?Status=Approved&UserId=@item.User2.UserId">Approve</a>&nbsp;&nbsp;&nbsp;<a href="/Friends/UpdateRequest?Status=Rejected&UserId=@item.User2.UserId">Reject</a>&nbsp;&nbsp;&nbsp;
        </li>
    }
</ul>
